{% extends 'BoShurikAdminBundle::layout.html.twig' %}
{% import 'BoShurikAdminBundle::macros.html.twig' as macro %}

{% trans_default_domain "BoShurikAdminBundle" %}

{% form_theme form 'BoShurikAdminBundle:form:form.html.twig' %}

{% block title %}
    {% trans %}controller.admin.administrator._interface.create{% endtrans %}
{% endblock %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ block('title') }}</h3>
            <div class="box-tools">
                <div class="btn-group">
                    <a href="{{ action_path(class, 'list') }}" class="btn btn-default" title="{% trans %}interface.list{% endtrans %}"><i class="fa fa-list text-blue"></i></a>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, { 'attr': { 'class': 'form-horizontal' } }) }}

        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">{% trans %}interface.save{% endtrans %}</button>
        </div>
        <!-- /.box-footer -->
        {{ form_end(form) }}
    </div>
{% endblock %}