{{ "{% extends 'BoShurikAdminBundle::layout.html.twig' %}" }}

{{ "{% block content %}" }}
    <div class="row">
        <div class="span6">
            <h1>{{ entity_class }} list</h1>
        </div>
        <div class="span6">
            <div class="pull-right">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn"><i class="icon-file"></i> Create</a>
            </div>
        </div>
    </div>

    <div class="navigation">
        {{ "{{ entities.render('BoShurikAdminBundle::paging.html.twig') | raw }}" }}
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
        {%- for field, metadata in fields %}

            <th>{{ field|capitalize }}</th>

        {%- endfor %}

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ "{% for entity in entities %}" }}
            <tr>
        {%- for field, metadata in fields %}
            {%- if loop.first %}

                <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}" class="btn"><i class="icon-eye-open"></i></a>
                    <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" class="btn"><i class="icon-pencil"></i></a>
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ "{% endfor %}" }}

        </tbody>
    </table>

    <div class="navigation">
        {{ "{{ entities.render('BoShurikAdminBundle::paging.html.twig') | raw }}" }}
    </div>

{{ "{% endblock %}" }}