{{ "{% extends 'BoShurikAdminBundle::layout.html.twig' %}" }}

{{ "{% block content %}" }}
    <div class="row">
        <div class="span6">
            <h1>{{ entity_class }}</h1>
        </div>
        <div class="span6">
            <div class="pull-right">
                <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}" class="btn"><i class="icon-pencil"></i> Edit</a>
                <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn"><i class="icon-list"></i> List</a>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>

        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>

{{ "{% endblock %}" }}