{% extends 'BoShurikAdminBundle::layout.html.twig' %}

{% form_theme form 'BoShurikAdminBundle::form.html.twig' %}

{% block content %}
<h1>Administrator edit</h1>

<ul>
    <li>
        <a href="{{ path('admin_administrator') }}">
            Back to the list
        </a>
    </li>
</ul>

<form action="{{ path('admin_administrator_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn" name="saveAction" value="save">Save</button>
        <button type="submit" class="btn" name="saveAction" value="save_list">Save and list</button>
        <button type="submit" class="btn" name="saveAction" value="save_new">Save and new</button>

        <button type="button" class="deleteButton btn btn-danger" data-form="deleteForm">Delete</button>
    </div>
</form>

<ul>
    <li>
        <a href="{{ path('admin_administrator') }}">
            Back to the list
        </a>
    </li>
</ul>

<form id="deleteForm" action="{{ path('admin_administrator_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
</form>
{% endblock %}
