{% extends 'BoShurikAdminBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span6">
        <h1>Administrator list</h1>
    </div>
    <div class="span6">
        <div class="pull-right">
            <a href="{{ path('admin_administrator_new') }}" class="btn"><i class="icon-file"></i> Create</a>
        </div>
    </div>
</div>

<div class="navigation">
    {{ entities.render('BoShurikAdminBundle::paging.html.twig') | raw }}
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Expired</th>
            <th>Locked</th>
            <th>Lastlogin</th>
            <th>Lastip</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_administrator_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.expired }}</td>
            <td>{{ entity.locked }}</td>
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.lastIp }}</td>
            <td>
                <a href="{{ path('admin_administrator_show', { 'id': entity.id }) }}" class="btn"><i class="icon-eye-open"></i></a>
                <a href="{{ path('admin_administrator_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ entities.render('BoShurikAdminBundle::paging.html.twig') | raw }}
</div>
{% endblock %}